    /* font-family: "Playfair", serif; 
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;*/

    /* 
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
 */
    
    /* NORMALIZACIÓN:  */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box; /* esto mantiene el ancho y algo a pesar de padding y border */
        font-family: "Roboto", serif;
        list-style: none; /*Quitar los puntos o decoracion de la listas*/
        text-decoration: none; /*Quitar el subrayado de los enlaces*/
        color: white;
         

    }

body {
 background-color: black; /*TO DO: Borrar cuando tengamos el fondo final*/
 }

 header {
  position: fixed; /*El header queda fijo en la parte superior*/
  right: 0;
  top: 0;
  z-index: 100; /*Hace que el header se muestre por encima*/
  width: 100%;
  display: flex; /*Hace que los elementos se pongan en una linea*/
  align-items: center;
  justify-content: space-between;
  padding: 15px 3%;
  background-color: transparent;
 }

 .logo{
 font-family: "Playfair", serif;
font-size: 30px;
font-weight: 800;
 }

 .navlist {
  display: flex /*Pone los elementos de lista del navlist, en una linea*/
 }

 .navlist a{
  margin-left: 60px; /*para separar las palabras*/
  font-size: 15px;
  font-weight: 600;
  border-bottom:2px solid transparent; /*subrayado transparente*/
  transition: all .5s ease; /*para animar todas las caracteristicas del .navlist a*/
 }

 .navlist a:hover{
  border-bottom: 2px solid white; /*subrayado blanco cuando hacemos hover a los links del navlist*/
 }

 /*icono de Menu colapsable*/
#menu-icon{
  display: none; /*se pone en none para que se vea cuando la pagina esta colapsada*/
  color:white;
  font-size: 35px;
  z-index: 101; /*para que este sobre el header*/
  cursor: pointer; /*para que aparezca la manito al hacer hover*/
}
#menu-toggle{
  display: none; /* para que no se vea el checkbox del menu icon, el truquito para no usar java*/
}
.menu-icon-action{
  display:none; /*para que no se le pueda hacer click*/
}

.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg,
  #FFD9B1 0%,        /* acento claro duraznito */
  #6D1F3E 50%,       /* vino dominante */
  #1d0510 90%       /* sombra profunda */);
  position: relative; /* para que sea relativo al contenedor (nos permite usar top, bottom, left y right) */
  display: grid;   /* Para que el hero se pueda dividir en columnas */
  grid-template-columns: 1fr 1fr; /* las 2 columnas */
  align-items: center; /* para alinear verticalmente el hero */
  gap: 2rem; /* que haya espacio de 2rem entre las 2 columnas */

}

section{
  padding: 0 8%;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;

}

.hero-text h1 {
  font-family: 'Roboto Mono', monospace ;
  font-size: 50px;
  line-height: 1;
  margin: 0 0 30px;
}

.hero-text h4 {
  font-size: 18;
  font-weight: 600;
  margin-top: 10px;
}

.hero-text p {
  font-size: 80%;
  margin-bottom: 40px;
  line-height: 1.9;
}

.hero-img img{
  width: 580px;
  margin: 10% 0 0 10%;
  height: auto;
  transition: transform 1s ease;
}

.hero-img img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.hero-text a {
  display: inline-block;
  background-color: #6D1F3E;
  border: 1px solid transparent;
  padding: 15px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .5s ease;
}

.hero-text a:hover {
  background-color: solid white;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero-text a.videos {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.hero-text a.videos {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50vh;
  padding: 0 3%;
  transform: translateY(-50%);
  
}

.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  transition: all .5s ease;
}

.icons i:hover{
  color: #4d4d4d4d;
  transform: translateY(-5px);
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  background-color: #6D1F3E;
  border-radius: 24px;
  transition: all .5s ease;
}
.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 3%;
}

.scroll-down i:hover{
  transform: translateY(-5px);
}

/*mediaqueries para hacerlo responsive*/
@media (max-width:992px){
  section{
    padding: 0 3%;
    transition: .2s;
  }

  .hero-text{
    padding-top: 0;
  } 
  
  .hero-img{
   text-align: center;
  }

  .hero-img img{
    width: 100%;
    margin: 5% 0 0 5%;
   }

   .icons {
    position: static; /* elimina absolute */
    transform: none;
    display: flex;      /* para que se acomoden en fila */
    justify-content: center;
    margin-top: 20px;   /* separalo del texto */
    padding: 0;
  }

  .icons i {
    display: inline-block;
    margin: 0 10px; /* espacio entre íconos */
  }
}

  
